<?xml version="1.0"?>
<model>
  <name>iris_dualcam</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author><name>mission_pi bench</name></author>
  <description>ardupilot_gazebo iris with gimbal replaced by two fixed
  cameras (front + bottom) publishing /iris/front/image and
  /iris/bottom/image. See mission_pi/SIM_GUIDE.md section 10.</description>
</model>
